.dashboard-list-item {
  padding: 10px 0;
  width: 100%;
  list-style-type: none;
  text-align: left;
  border-left: 11px solid white;
}
.dashboard-items {
  padding: 10px 0;
  width: 100%;
  list-style-type: none;
  text-align: left;
  margin-left: 0.5rem;
  font-size: 1.1rem;
  color: #696969;
}
.dashboard-items.active {
  color: #2d2d2d;
  font-weight: bold;
}
.dashboard-list-item:hover,
.dashboard-list-item.active {
  background-color: #cce6f4;
  border-radius: 10px 0 0 10px;
  border-left: 11px solid #0086c9;
}
span,
span:hover,
i,
i:hover {
  color: #696969;
}

/* .active-nav {
  color: #0086c9;
} */
