.dashboard-container {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 94%;
  z-index: -1;
}

.dash-sidebar-container {
  min-width: 10rem;
  padding: 24px 24px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  flex: 1;
}

.dashboard-component {
  margin: auto;
  padding: 24px 0px;
  flex: 7;
  overflow-y: auto;
  height: 94%;
}
.nav-items {
  padding: 24px 0;
}

.empty-div {
  flex-grow: 1;
}

.grey-logo {
  margin: 0 auto;
  width: 70%;
}
img {
  width: 100%;
}

@media (max-width: 768px) {
  .dashboard-container {
    position: relative;
  }
  .dash-sidebar-container {
    display: none;
  }
  .dashboard-component {
    width: 100%;
  }
}
