.content.ant-layout-content {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100vh;
}

.ant-layout-sider.ant-layout-sider-dark {
  min-height: 100vh;
  background-color: white;
  padding: 0.5rem;
}

.ant-layout-content {
  min-height: 100vh;
}

.nav-items {
  padding: 24px 0;
}

.empty-div {
  flex-grow: 1;
}

/* .grey-logo {
  margin: 0 auto;
  width: 70%;
}
img {
  width: 100%;
} */
@media (max-width: 768px) {
  .dashboard-container {
    position: relative;
  }
  .dash-sidebar-container {
    display: none;
  }
  .dashboard-component {
    width: 100%;
  }
}
