@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

.logo {
  font-size: 3rem;
  font-weight: bold;
  padding: 0.5rem;
  /* color: white; */
  color:#0086c9;
  font-family: 'Viga', sans-serif;
}

.logo span {
  /* color: #5c0d91; */
  color: white;
  font-family: 'Viga', sans-serif;
}


.logo-container {
  flex: 1;
  text-align: center;
}
