@import url('https://fonts.googleapis.com/css?family=Oswald|Viga&display=swap');

.contact {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    overflow: hidden;
    padding-bottom: 200px;
  }
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 50px;
    font: 300 60px 'Viga', sans-serif;
    letter-spacing: 6px;
    color: #6bbdfa;
    margin-bottom: 25px;
  }
  .contact-wrapper {
    margin:0 auto;
    padding-top: 20px;
    position: relative;
    max-width: 800px;
  }
  
  /* Begin Left Contact Page */
  .form-horizontal {
    float: left;
    max-width: 420px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .form-control, textarea {
    width: 99%;
    margin: 1rem;
    background-color: #6bbdfa;
    color: #fff;
    border-radius: 2px;
    letter-spacing: 1px;
  }
  
  .send-button {
    margin:1rem;
    height: 34px;
    width: 420px;
    background-color: #6bbdfa;
    text-transform: capitalize;
    color: #ffffff;
    border-radius: 2px;
    transition: all .2s ease-in-out;
  }
.sen-button {
  padding: 0.8rem 2.5rem;
  background-color: #6bbdfa;
  border-radius: 2rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 1.4rem;
  transition: all 0.7s;
}
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 300 14px 'Viga', sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #ffffff;
  }
  
  
 /* Begin Right Contact Page */
 .direct-contact-container {
    max-width: 400px;
    float: right;
    margin-top: 5px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
   
  }
  
  .list-item {
    line-height: 4;
    color: #6bbdfa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #6bbdfa;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: #6bbdfa;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: rgb(53, 50, 50);
    text-decoration: none;
  }
  
/* Social Media Icons */
.soci-media-list {
    position: relative;
    font-size: 2.2rem;
    text-align: center;
    align-content: space-between;
    width: 100%;
  }
  
  .soci-media-list li a {
    color: rgb(152, 26, 26);
  }
  
  .soci-media-list li {
    position: relative; 
    top: 0;
    left: -20px;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 20px auto;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: #6bbdfa;
    cursor: pointer; 
    white-space: inherit;
    transition: all .3s ease-in-out;
  }
  
  .soci-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    transition: all .2s ease-in-out;
  }
  
  .soci-media-list li:hover {
    background-color: #fff; 
  }
  
  .soci-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: rgb(225, 215, 215);
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #6bbdfa;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgb(107, 189, 250, .8); ;
  }
  