.nav-items {
  padding: 1rem, 0.5rem;
}

.dashboard-list-item {
  display: flex;
  padding: 15px 2px;
  list-style-type: none;
  text-align: left;
  font-size: 1.5rem;
  color: #696969;
  border-left: 11px solid #5c0d91;
}
.ant-layout-header{
  background-color: #5c0d91;
}

.dashboard-list-item:hover,
.dashboard-list-item.active,
.dashboard-list-item:active {
  background-color: #cce6f4;
  border-radius: 10px 0 0 10px;
  border-left: 11px solid #0086c9;
}

.dashbaord-list-item a,
.dashbaord-list-item a:hover {
  color: #696969;
  font-weight: bold;
}
.dashbaord-list-item a.active {
  color: white;
}

.dashbaord-list-item a:last-of-type {
  padding-left: 0.75rem;
}
