.main-nav {
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
 

  z-index: +10;
  flex-direction: row;
  background:  #1890ff;
  /* opacity:0.3; */
}
.ant-layout-header {
  background: #1890ff;
}
.spacer {
  flex: 1;
}

.main-nav__items {
  list-style: none;
  padding: 0;
  margin: 0 1.5rem;
  display: flex;
}


.main-nav__items :hover,
.main-nav__items :active{
  transform: scale(1.5);
}

.buttonWrapper{
  display: flex;
  flex-direction: row;
}

.ant-layout-sider {
  opacity:0.85;
}
.main-nav__logo {
  flex: 1;
}
