@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');
#h1 {
  font-size: 6em;
  color: #0086c9;
  line-height: 0.8em;
  text-align: left;
}

h1 span {
  color: #5c0d91;
  font-family: 'Viga', sans-serif;
}

#p {
  color: #0086c9;
  align-content: center;
  text-align: center;
}

.bottom {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
}

.landingname {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.user-icon {
  padding-right: 2rem;
  list-style: none;
  font-size: 2rem;
}
.land-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;

}
.land {
  font-family: 'Viga', sans-serif;
  width: 35rem;
  height: 40rem;
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  bottom: 1rem;
}

.land h1 {
  font-family: 'Viga', sans-serif;
  font-size: 2.5rem;
  color: #333;
  margin: 0.5rem;
}

.land .btn {
  margin: 2rem;
  padding: 0.6rem 2.5rem;
  background-color: #6bbdfa;
  align-items: center;
  align-content: center;
  color: #ffffff;
  font-size: 1.4rem;
  transition: all 0.5s;
}
.land .btn:hover {
  transform: translateY(-2px);
  box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
}
.land .btn:active {
  transform: translateY(0);
  box-shadow: none;
}

@media screen and (max-width: 992px) {

}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (min-width: 300px) {
  .land-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
  }
  .land {
    padding-left: 2rem;
    justify-content: center;
    align-items: center;
    transition: transfom 0.5s;

  }
  #p{
    justify-content: center;
    align-items: center;

  }

}


@media screen and (min-width: 700px) {
  .land-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .land {
    padding: 2rem;
    justify-content: center;
    transition: transfom 0.5s;
    align-items: center;

  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .land:nth-child(1) {
    animation: fadeIn 0.5s 0.5s backwards;
  }
  .land:nth-child(2) {
    animation: fadeIn 0.5s 0.1s backwards;
  }
  .land:nth-child(3) {
    animation: fadeIn 0.5s 1.5s backwards;
  }
  .land:nth-child(4) {
    animation: fadeIn 0.5s 2s backwards;
  }
}
