.buttons-exercises {
  display: flex;
}

.muscle-buttons,
.equipment-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.button {
  width: 10rem;
}
.number {
  width: 3rem;
}

.all-exercise {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}
    .p {
          width: 30%;
       padding: 0;
         }

.exercise {
  /* width: 10rem; */
  border: 0.1rem black solid;
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* height: 14rem; */
}
  .column {
    display: flex;
    flex-direction: column;
  }


.img {
  width: 10%;
  /* height: 5rem; */
}
.search{
    position: absolute;
    top: 10%;
    left: 50%;
    height: 36px;
    padding: 10px;
    background:rgba(19, 123, 207, 0.4);
    border-radius: 40px;
    transform: translate(-50%, -50%);
    
}
.search-box:hover ,
.search-txt:hover {
    width: 240px;
    padding: 0 6px;
}
.search-box:hover,
 .search-btn:hover {
background:#c7a06e;

}
.search-btn{
    color: #f8f2f2;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    display:flex;
    background: #0e6de9;
    justify-content:center; 
    align-items:center;
    transition: 0.4s;

}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size:16px;
    transition: 0.5s;
    line-height: 40px;
    width: 250px;
    align-items: center;
}
