html {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

section {
  padding: 10 rem 0;
  background-color: #ffffff;
}

.container {
  align-content: center;
}

/* Workout img styling */
.workout-img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 3rem;
  margin-top: -10rem;
  border: 0.7rem solid #c7d9eef9;
}

.workout-card {
  width: 30rem;
  background-color: #c7d9eef9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  margin-top: 10rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 1.5rem 1.5rem 3rem rgba(0, 0, 0, 0.2);
}

.workout-card h1 {
  font-size: 1.7rem;
  color: #6bbdfa;
  margin: 0.5rem;
}

.workout-card .btn {
  padding: 0.8rem 2.5rem;
  background-color: #6bbdfa;
  border-radius: 2rem;
  margin-bottom: 3rem;
  text-transform: capitalize;
  color: #eee;
  font-size: 1.4rem;
  transition: all 0.7s;
}

.workout-card .btn:hover {
  transform: translateY(-2px);
  box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
}

.workout-card .btn:active {
  transform: translateY(0);
  box-shadow: none;
}

.workout-card p {
  color: #655f69;
  font-size: 1rem;
  text-align: start;
  font-weight: 300;
}

.coolstuff {
  font-size: 2.5rem;
  color: #6bbdfa;
  margin: 1.5rem;
  align-content: center;
  font-family: 'Viga', sans-serif;
}

/* card workouts */

.heading {
  text-transform: uppercase;
  font-size: 3.4 rem;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  color: #6bbdfa;
  position: relative;
}

.heading::after {
  content: '';
  width: 10rem;
  height: 0.8rem;
  background-color: #6bbdfa;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}

.card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.card {
  width: 30rem;
  background-color: #c7d9eef9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 1.5rem 1.5rem 3rem rgba(0, 0, 0, 0.2);
}

.card .card-img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 49%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 49%, 0% 100%);
}

.profile-img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -10rem;
  z-index: 899;
  border: 1rem solid #c7d9eef9;
}

.card h1 {
  font-size: 2.5rem;
  color: #6bbdfa;
  margin: .9rem;
  font-family: 'Viga', sans-serif;
}

.team {
  font-size: 3.5rem;
  color: #6bbdfa;
  text-align: center;
  margin: 1.5rem;
  font-family: 'Viga', sans-serif;
}

.job-title {
  color: #655f69;
  font-family: 'Viga', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.about {
  font-size: 1.3rem;
  margin: 1.5rem 0;
  text-align: center;
  color: #ffffff;
  font-weight: 250;
}

.card .btn {
  padding: 0.8rem 2.5rem;
  background-color: #6bbdfa;
  border-radius: 2rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 1.4rem;
  transition: all 0.7s;
}

.card .btn:hover {
  transform: translateY(-2px);
  box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
}

.card .btn:active {
  transform: translateY(0);
  box-shadow: none;
}

.social-media {
  /* width: 100%; */
  align-content: center;
  list-style: none;
  display: flex;
  padding: 2rem;
  align-items: center;
}

.social-media i {
  font-size: 3rem;
  transition: color 0.5s;
  align-content: space-between;
}

.fa-linkedin {
  color: #0e76a8;
}

.fa-twitter-square {
  color: #0ea7e9;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-github-square {
  color: #333;
}

.fa-twitter-square:hover,
.fa-facebook-square:hover,
.fa-linkedin:hover,
.fa-github-square:hover {
  color: #980cc6;
}

/* div .ant-card-body{
    background-color: white;
} */

 div .ant-layout-sider-zero-width-trigger:hover {
  background-color:#1890ff;
}
div .ant-layout-sider-zero-width-trigger {
  background-color: #1890ff;
  border-radius: 0 0 60px 0; 
  height: 40px;
  width: 50px;
  position:absolute;
  top:0;
}
.ant-layout-sider-children {
 background-color: #1890ff;
}

.ant-card-body {
  padding: 2px;

}
@media screen and (min-width: 300px) {
  .card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .card {
    margin: 2rem;
    transition: transfom 0.5s;
  }
}