
html{
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}
body{
    overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #0b0909;
}
p{
    padding: 2rem;
}
section {
  padding: 10 rem 0;
  background-color: #ffffff;
}
.heading {
  text-transform: uppercase;
  font-size: 3.4 rem;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  color: #6bbdfa;
  position: relative;
}
.heading::after {
  content: '';
  width: 10rem;
  height: .8rem;
  background-color: #6bbdfa;
  position:absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}
.card-wrapper{
    display: flex;
    align-items:center;
    align-content:center;
    flex-direction: column;
}
.card{
    width: 30rem;
    background-color: #c7d9eef9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    border-radius: 2rem;
    box-shadow: 1.5rem 1.5rem 3rem rgba(0, 0, 0, 0.2);
}
.card .card-img{
    width: 100%;
    height: 20rem;
    object-fit: cover;   
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 49%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 49%, 0% 100%);

}
.profile-img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top:-10rem;
    z-index: 899;
    border: 1rem solid #c7d9eef9;
    
}
.card h1{
    font-size:2.5rem;
    color: rgb(255, 255, 255);
    margin:  1.5rem;
}
.job-title{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight:100;
}
.about{
    font-size: 1.5rem;
    margin: 1.5rem 0;
    text-align: center;
    color: rgb(255, 255, 255);
}
.card .btn{
    padding: .8rem 2.5rem;
    background-color: #6bbdfa;
    border-radius: 2rem;
    margin: 1rem;
    text-transform: capitalize;
    color: #eee;
    font-size: 1.4rem;
    transition: all .7s;
}
.card .btn:hover{
    transform: translateY(-2px);
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.2);
}
.card .btn:active{
    transform: translateY(0);
    box-shadow: none;
}
.social-media{
width:100%;
list-style:none;
display: flex;
padding: 2rem;
align-items: baseline;
margin-top: 1.5rem;
border-top: 1px solid rgba(0, 0, 0, .1)
}
.social-media i{
    font-size: 3rem;
    transition: color .5s;
}
.fa-linkedin-square{
    color: #0b2a74;
}
.fa-twitter-square{
    color: #0ea7e9;
}
.fa-facebook-square{
    color: #3b5999;
}
.fa-github-square{
    color: #333;
}
.fa-twitter-square:hover,
.fa-github-square:hover,
.fa-linkedin-square:hover,
.fa-github-square:hover{
 color: #91b8ca;

}
@media screen and (min-width: 700px){
    .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card{
        margin:2rem;
        transition: transfom .5s;
    }
    @keyframes fadeIn {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
        .card:nth-child(1){
            animation: fadeIn .5s .5s backwards;
        }
        .card:nth-child(2){
            animation: fadeIn .5s .1s backwards;
        }
        .card:nth-child(3){
            animation: fadeIn .5s 1.5s backwards;
        }
        .card:nth-child(4){
            animation: fadeIn .5s 2s backwards;
        }   
        .card:hover{
            transform: scale(1.1);
        }             
    }