@import url("https://fonts.googleapis.com/css?family=Viga&display=swap");
.navigation-item {
  padding: 0 1.5rem;
}

.navigation-item a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-family: "Viga", sans-serif;
  letter-spacing: 2px;
}

@media (max-width: 1000px) {
  .navigation-item:nth-last-child(n + 3) {
    display: none;
  }
}

.navigation-item a:hover,
.navigation-item a:active,
.navigation-item a.active {
  color: #5c0d91;
}

.navigation-item:last-of-type {
  padding-right: 0;
}

.navigation-item button {
  font: inherit;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
}

.navigation-item button:hover,
.navigation-item button:active {
  color: #0086c9;
}
